<div ng-show="error">{{error}}</div>
<form name="form" ng-submit="login()" role="form">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" ng-model="userToLog.pseudo" required />

        <label for="password">Password</label>
        <input type="password" name="password" id="password" ng-model="userToLog.password" required />


        <button type="submit" ng-disabled="dataLoading">Login</button>
    <span ng-if="dataLoading">Loading...</span>
</form>