<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="js/angular.min.js"></script>
    <script src="module.js"></script>
    <script src="controller.js"></script>
    <script src="models.js"></script>
    <title></title>
</head>
<body ng-app="myApp">
    <div ng-controller="customersCtrl">

            <div ng-model="customerToPush" class="divStyle">
                <fieldset><legend><h2>Add product</h2></legend>
                <input type="text" ng-model="customerToPush.firstname" placeholder="Firstname"/>
                <input type="text" ng-model="customerToPush.lastname" placeholder="Lastname"/>
                <input type="text" placeholder="Website" ng-keypress="($event.which === 13)?pushCustomer(customerToPush):0" ng-model="customerToPush.website"/>
                <button ng-click="pushCustomer(customerToPush)">Push</button>
                </fieldset>
            </div>
        <!--
        <div class="divStyle">
            <fieldset><legend><h2>Search product</h2></legend>
                <input type="text" ng-model="query"  placeholder="Name"/><input type="number" ng-model="limit" placeholder="Limit"/>
                <button ng-click="filter='+name'">Name ASC</button><button ng-click="filter='-name'">Name DESC</button>
                <button ng-click="filter='+price'">Price ASC</button><button ng-click="filter='-price'">Price DESC</button>
            </fieldset>
        </div>

        -->
        <table class="tableProduct">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Website</th>
                <th>Created</th>
            </tr>
            <tr ng-repeat="customer in customers">
                <td>{{ customer.firstname }}</td>
                <td>{{ customer.lastname }}</td>
                <td>{{ customer.website}}</td>
                <td>{{ customer.created}}</td>
                <td><button ng-click="showUpdate(customer)">Update</button>
                <button ng-click="delCustomer(customer)">Delete</button></td>
            </tr>
        </table>

        <div ng-show="show" ng-model="customerToUpdate" class="divStyle">
            <fieldset><legend><h2>Update customer</h2></legend>
            <input type="text" ng-model="customerToUpdate.firstname"/>
            <input type="text" ng-model="customerToUpdate.lastname"/>
            <input type="text" ng-model="customerToUpdate.website"/>
            <button ng-click="updateCustomer(customerToUpdate)">Ok</button>
                </fieldset>
        </div>
    </div>
</body>
</html>