::-moz-selection { color:#fff; background: #fcb216 ;}
::selection { color:#fff; background: #fcb216 ;}

:focus{
    outline-color: #fcb216;
}

@font-face{
	font-family: 'Retro Computer';
	src: url('../font/font.ttf');
}

body{
	font-family: 'Retro Computer';
	width: 1200px;
	margin: 0 auto;
	background-color: #000;
	color: #fff;
}

h3, h4, label{
	background: -webkit-gradient(linear, left top, left bottom, from(#f15929), to(#ffd800));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.bordered{
    border: solid 1px orange;
    padding: 10px;
}
.error, .error p{
    background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(rgba(252, 6, 6, 0.38)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    border: solid 1px darkred;
    width: 60%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.succes{
    background: -webkit-gradient(linear, left top, left bottom, from(#00ff00), to(rgba(74, 178, 67, 0.49)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    border: solid 1px darkgreen;
    width: 60%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}



#content{
	margin: 0 auto;
	width: 1200px;
}

header h1, #logo{
	margin: 0 auto;
	width: 400px;
	height: 200px;
	background-image: url('../img/logo.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.hcenter{
	text-align: center;
}

hr{
	border: none;
	height: 20px;
}

input[type="text"], input[type="password"], input[type="email"]{
	font-family: 'Retro Computer';
	background: -webkit-gradient(linear, left top, left bottom, from(#f15929), to(#ffd800));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: black;
  	border: solid 1px orange;
  	padding: 2px;
  	color: #fcb216;
}

input[type="submit"], button{
    cursor: pointer;
    font-family: 'Retro Computer';
    background-color: black;
    color: #fcb216;
    border: solid 1px orange;
    padding: 10px;
    color: #fcb216;
    width: 100%;
}

input[type="submit"]:hover, button:hover{
    background-color: #f15929;
}

a{
    color: #fcb216;
    text-decoration: none;
}


footer{
    font-size: 12px;
    width: 800px;
    margin: 0 auto;
    border-top:solid 1px #fcb216;
    background: -webkit-gradient(linear, left top, left bottom, from(#f15929), to(#ffd800));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dotted{
    border: dotted 3px orange;
    padding: 10px;
}

.pointer{
    cursor: pointer;
}

.quick-fight{
    width: 22px;
    height: 22px;
    background-image: url('../img/ico_fighter.png');
    background-size: cover;
    -webkit-background-size: cover;
}

.inline-block{
    display: inline-block;
}

.warning{
    background-color: red !important;
}

.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

canvas {
    position: absolute;
    background: transparent;
    z-index:1;
}
#backCanvas{
    position: absolute;
    background-image: url('../img/bg-canvas.gif');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    z-index:0;
}
.imp{
    background: #d57e12;
}